PORT=5000
MONGO_URI=mongodb://localhost:27017/ai-cv-analyzer
GOOGLE_API_KEY=AQ.Ab8RN6KIkBalLX3y70YgJO1YnhiJgVVSAAu3O4aB1TCTnVgtYw
AUTH0_DOMAIN=your-tenant.auth0.com
AUTH0_AUDIENCE=https://api.ai-cv-analyzer.com
